:root {
    --primary: #141414;
    --light: #F3F3F3;
    --dark: 	#686868;
  }
  
  html, body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-color: var(--primary);
    color: var(--light);
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    line-height: 1.4;
  }
  
  img {
    max-width: 100%;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.255);
  }

  
  h1 {
    padding-top: 60px;  
  }
  
  .wrapper {
    margin: 0;
    padding: 0;
    font-family: "Lato", sans-serif;
  }
  
  /* header */
  header {
    padding: 20px 20px 0 20px;
    position: fixed;
    top: 0;
    display: grid;  
    grid-gap:5px;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-areas: 
     "nt mn mn sb"; 
    background-color: var(--primary);
    width: 100%;
    margin-bottom: 0px;  
  }

  .logo {
    grid-area: nt;
    object-fit: cover;
    max-height: 100%;
    padding-left: 30px;
    padding-top: 0px;  
  }
  
  .logo img {  
    height: 150px;     
  }
  
  #logo {
    color: #E50914;  
    margin: 0; 
    padding: 0; 
  }

  .main-nav {
    grid-area: mn;
    padding: 30px 30px 0 50px;
    margin-left: 80px;
  }
  
  .main-nav a {
    color: var(--light);
    text-decoration: none;
    margin: 5px;  
    font-size: 24px;
  }
  
  .main-nav a:hover {
    color: var(--dark);
  }
  
  .sub-nav {
    grid-area: sb;
    padding: 30px 40px 0 10px;
  }
  
  .sub-nav a {
    color: var(--light);
    text-decoration: none;
    margin: 5px;
    font-size: 24px;
  }
  
  .sub-nav a:hover {
    color: var(--dark);
  }

  /* section search container */

  .search-container{
    height: 30vh;
    background-color: rgba(229, 9, 20, 0.12);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 24px 2px rgba(229, 9, 20, 0.16)
  }

  .search{
    position: relative;
    top: 80px;
    display: flex;
    justify-content: space-between;
  }

  .search-input{
    border-radius: 20px;
    border: none;
    background-color: #fff;
    padding: 15px;
    width: 600px;
    outline: none;
    background-image: url("../img//logo.png");
    background-repeat: no-repeat;
    background-size: 7%;
    background-position: 4px;
  }

  ::placeholder {
    color: #E50914;
    font-size: 1rem;
    padding: 30px;
    text-transform: capitalize;
  }

  #select-year, #select-genre{
    width: 200px;
    border-radius: 20px;
    outline: none;
    appearance: none;
    border: 0;
    box-shadow: none;
    /* Personalize */
    flex: 1;
    padding: 0 1em;
    color: #1d1d1d;
    background-color: rgb(241, 237, 237);
    background-image: none;
    cursor: pointer;
    font-size: 16px;
    margin-left: 10px;
  }

  /* main container */
  .main-container {
    padding: 0 50px 50px 50px;
  }

  .box-container {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(6, minmax(100px, 1fr));
  }
  
  .box-container div img {
    border-radius: 20px;
    transition: transform .3s; 
  }

  .box-container div img:hover {
    transition: transform .3s;
    -ms-transform: scale(1.4);
    -webkit-transform: scale(1.4);  
    transform: scale(1.4);
    cursor: pointer;

    box-shadow: 0px 10px 20px 5px rgba(0, 0, 0, 0.5);
    /* transform: translateY(-5px); */
  }

  .card-box-container{
    background-color: rgba(229, 9, 20, 0.12);
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0px 10px 20px 5px rgba(0, 0, 0, 0.5);
  }

  .titles{
    font-weight: 700;
  }
  .truncate {
    Overflow:hidden;
    max-height: 6rem;
    line-height: 1.5rem;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    text-overflow: ellipsis;
    display: block;
  }

  .description-overview{
    padding: 0px;
    font-size: 18px;
    color: #F3F3F3;
  }

  /* nav links */
.link {
    padding: 50px;
  }
  
  .sub-links ul {
    list-style: none;
    padding: 0;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(4, 1fr);
  }
  
  .sub-links a {
    color: var(--dark);
    text-decoration: none;
  }
  
  .sub-links a:hover {
    color: var(--dark);
    text-decoration: underline;
  }
  
  .logos-social-media a{
    padding: 10px;
    color: var(--dark);
  }

  /* No result */
  .alert{
    background-color: #E50914;
  }

  .error{
    color: #141414;
    font-size: 24px;
  }
  
  /* footer */
  footer {
    padding: 20px;
    text-align: center;
    color: var(--dark);
    margin: 10px;
  }

  /* media queries */

@media(max-width: 900px) {

    header {
      display: grid;
      grid-gap: 20px;
      grid-template-columns: repeat(2, 1fr);
      grid-template-areas: 
      "nt nt nt  .  .  . sb . . . "
      "mn mn mn mn mn mn  mn mn mn mn";
    }
  
    .box {
      display: grid;
      grid-gap: 20px;
      grid-template-columns: repeat(4, minmax(100px, 1fr));
    }
  
  }
  
  @media(max-width: 700px) {
  
    header {
      display: grid;
      grid-gap: 20px;
      grid-template-columns: repeat(2, 1fr);
      grid-template-areas: 
      "nt nt nt  .  .  . sb . . . "
      "mn mn mn mn mn mn  mn mn mn mn";
    }
  
    .box {
      display: grid;
      grid-gap: 20px;
      grid-template-columns: repeat(3, minmax(100px, 1fr));
    }
  
    .sub-links ul {
      display: grid;
      grid-gap: 20px;
      grid-template-columns: repeat(3, 1fr);
    }
     
  }
  
  @media(max-width: 500px) {
  
    .wrapper {
      font-size: 15px;
    }
  
    header {
      margin: 0;
      padding: 20px 0 0 0;
      position: static;
      display: grid;
      grid-gap: 20px;
      grid-template-columns: repeat(1, 1fr);
      grid-template-areas: 
      "nt"    
      "mn"
      "sb";
      text-align: center;
    }
  
    .logo {
      max-width: 100%;
      margin: auto;
      padding-right: 20px;
    }
  
    .main-nav {
      display: grid;
      grid-gap: 0px;
      grid-template-columns: repeat(1, 1fr);
      text-align: center;
    }
  
    h1 {
      text-align: center;
      font-size: 18px;
    }
  
    .box {
      display: grid;
      grid-gap: 20px;
      grid-template-columns: repeat(1, 1fr);
      text-align: center;    
    }
  
    .box a:hover {
      transition: transform .3s;
      -ms-transform: scale(1);
      -webkit-transform: scale(1);  
      transform: scale(1.2);
    }
  
    .logos-social-media {
      display: grid;
      grid-gap: 20px;
      grid-template-columns: repeat(2, 1fr);
      text-align: center;
    }
  
    .sub-links ul {
      display: grid;
      grid-gap: 20px;
      grid-template-columns: repeat(1, 1fr);
      text-align: center;
      font-size: 15px;
    }
  }